head {
    background-color: blueviolet;
}

body {
    background-color: azure;
}
h1 {
    background-color: bisque;
}

p{
    font-size: medium;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    color: cadetblue;
    font-size: large;
    font-weight: bold;
}